/// Vertical rhythm baseline
/// @type Length
$vertical-rhythm-baseline: 1.5rem;

/// Regular font stack
/// @type List
$text-font-stack: "Droid Sans", "Helvetica", "Arial", sans-serif;
//$text-font-stack: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;

/// Code font stack
/// @type List
$code-font-stack: "Source Code Pro", "Courier New", monospace;
//$code-font-stack: Monaco,Menlo,Consolas,"Courier New",monospace;

/// Light grey
/// @type Color
$light-grey: #dadbdf;

/// Dark grey
/// @type Color
$dark-grey: #444;

/// Light pink
/// @type Color
$light-pink: #c69;

/// Light blue
// @type Color
$light-blue: #307EA9;

$dark-blue: darken($light-blue, 10%);
$white: #fff;

/// Dark pink
/// @type Color
$dark-pink: #b37399;

/// Light yellow
/// @type Color
$light-yellow: #f2ece4;

/// Light green
/// @type Color
$light-green: #d2e1dd;

/// Light black
/// @type Color
$light-black: #444;

$black: #2B2B2B;

/// Main color
/// @type Color
/// @require $light-pink
$main-color: $light-blue;

$hover-color: lighten($light-blue, 20%);

/// Title color
/// @type Color
/// @require light-black
$title-color: $light-black;


/// Secondary color
/// @type Color
/// @require light-black
$secondary-color: $light-black;

/// Note background
/// @type Color
/// @require $light-grey
$note-background: $light-grey;

/// Quote background
/// @type Color
/// @require $light-green
$quote-background: $light-green;

/// Code background
/// @type Color
/// @require $dark-grey
$code-background: $dark-grey;

/// Donate background
/// @type Color
/// @require $light-yellow
$donate-background: $light-yellow;

/// Figure background
/// @type Color
/// @require $light-yellow
$figure-background: $light-grey;

$small-width: 550px;
$reading-width: 600px;
$medium-width: 760px;
$large-width: 992px;
$huge-width: 1200px;

/// Breakpoints
/// @type Map
$breakpoints: (
  'small': $small-width,
  'medium': $medium-width,
  'large': $large-width,
  'huge': $huge-width
);

