/**
 * Footer
 */
.footer {
  background: $light-grey2;
//  text-align: center;
  margin-top: 5rem;
  border-top: 2px solid $light-grey2;
  height: 15vh;
  position: relative;

  li {
    margin-bottom: 0.1rem;
  }

  ul {
    list-style-type: none;
  }
}

.footer-title {
//  border-bottom: 1px solid #777;
}

.footer__metadata {
  margin-bottom: 0;
}

.footer__authors {
  font-size: .9em;
}