/**
 * Header
 */
.header {
  position: relative;
  display: table;
  width: 100%;
  height: 30vh;
  text-align: center;
  background: #222 no-repeat center center;
  background-size: cover;
  color: white;
  overflow: hidden;
  padding: 1.5rem 0;
  margin-bottom: 3rem;
  background-size: cover;
  background-image: url(/assets/img/wallpaper/autochrome-v3.jpg);

  a {
    color: $title-color;

    @include on-event {
      color: $title-color;
    }
  }

  .full-height {
    height: 100vh;
  }

}

/**
 * Main title
 */
.title {
  margin: 0;
  max-width: none;
  font-size: 6em;
  color: $title-color;

  @media (max-width: 600px) {
    font-size: 3em;
  }
}

/**
 * Baseline
 */
.baseline {
  font-size: 2em;
  text-transform: initial;
  color: $main-color;
  margin-bottom: 5rem;

  @include respond-to('medium') {
    font-size: 2.5em;
  }
}
