article {
  iframe {
    max-height: 500px;
    max-width: 100%;

    div {
      @include full-container();
    }
  }
}

.article-preview {
  border-bottom: 2px solid $light-grey2;
//  padding-bottom: 10px;
//  padding-top: 10px;
}

.article-meta {
  margin-top: 0px;
}

.article-preview-title {
  @include rem(margin-top, 1rem);
  margin-bottom: 0px;

  @include bp("medium") {
    @include rem(margin-top, 1.5rem);
  }
  @include bp("large") {
    @include rem(margin-top, 1.8rem);
  }
}

//section {
//  @include outer-container;
//  aside { @include span-columns(3); }
//  article { @include span-columns(9); }
//}


