/**
 * Quotes
 */
blockquote {
  margin: 0;
  @include vertical-rhythm;
  padding: 1rem;
  overflow: hidden;
  line-height: 1.5;
  color: #678;
  font-size: 1.4rem;

  &.pull-right {
    padding: 0;
    border: none;
    margin: 0.5em 0;

    @include respond-to('medium') {
      float: right;
      width: 40%;
      margin: .5em .5em .5em 1.5em;
    }
  }

  /**
   * Make all children containers
   */
  > * {
    @include container;
  }

  //  @include beautify-links($quote-background);

  /**
   * On large screens, add a decorative quote
   */
  @include respond-to("medium") {
    > :first-child {
      position: relative;

      &::before {
        font-style: normal;
        content: "“";
        font-family: "Georgia", serif;
        position: absolute;
        font-size: 20em;
        right: 100%;
        top: -.3875em;
        color: rgba(black, .05);
      }
    }
  }
}


.huge {
  margin: 1.7em 0;

  @include respond-to('medium') {
    margin: 1.7em -15%;
  }
}
