.side-note {
  line-height: 1.5;
  padding: 0;
  border: none;
  color: #678;
  font-size: 1.4rem;
  float: none;
  margin: 1em 0;
  width: 100%;

  @include respond-to("medium") {
    width: 40%;
    float: right;
  }
}