<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Custom CSS -->
        <link href="/bower_components/icomoon/dist/css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="icon" type="image/ico" href="/assets/img/favicon/robot.png">
    </head>
    <body>
          <div class="header full-container">
            <!--<h1 class="title"><a href="/">{{ site.name }}</a></h1>-->
            <!--<a class="extra" href="/">home</a>-->
          </div>

          {{ content }}

         <!-- JS -->
    </body>
    {% include footer.html %}
</html>
