/**
 * Make all elements inherit from `html` box-sizing
 */
* {
  @include prefix(box-sizing, inherit, webkit moz);
}

/**
 * Redefine box-sizing on the root element
 */
html {
  @include prefix(box-sizing, border-box, webkit moz);
}

/**
 * Basic typography styles
 */
body {
  font: 1.125em/1.4 $text-font-stack;
  color: #333;
  @include prefix(box-sizing, border-box, webkit moz);
  @include antialiasing();
}


/**
 * Links
 */
a,
.link-like {
  text-decoration: none;
  cursor: pointer;
  color: $main-color;
  transition: .15s;

   @include on-event {
    color: $hover-color;
   }
}

//@include beautify-links(white);

/**
 * Inline code
 */
:not(pre) > code {
  color: #6b717f;
}

.unstyled {
  list-style: none;
}

::selection {
  background-color: $black;
  color: #bbb;
}

.container {
  @include container();
  @include vertical-rhythm();
}

.full-container {
  @include full-container();

  * {
    padding: 0;
  }
}

