/**
 * Make all elements inherit from `html` box-sizing
 */
* {
  @include prefix(box-sizing, inherit, webkit moz);
}

/**
 * Redefine box-sizing on the root element
 */
html {
  @include prefix(box-sizing, border-box, webkit moz);
  font: 62.5%/1.5 $text-font-stack;
}

/**
 * Basic typography styles
 */
body {
  color: $secondary-color;
  @include prefix(box-sizing, border-box, webkit moz);
  @include antialiasing();
  @include rem(font-size, 1.6rem);
  @include bp("medium") {
    @include rem(font-size, 1.8rem);
  }
  @include bp("large") {
    @include rem(font-size, 2.2rem);
  }
}

hr {
  border: none;
  height: 1px;
  margin: 0;
  padding: 0;
  background-color: $light-grey;
}

/**
 * Links
 */
a,
.link-like {
  text-decoration: none;
  cursor: pointer;
  color: $main-color;
  transition: .15s;

  @include on-event {
    color: $hover-color;
  }
}

//@include beautify-links(white);

/**
 * Inline code
 */
:not(pre) > code {
  color: #6b717f;
}

.unstyled {
  list-style: none;
}

::selection {
  background-color: $black;
  color: #bbb;
}

.container {
  @include container();
  @include vertical-rhythm();
}

.full-container {
  @include full-container();

  * {
    padding: 0;
  }
}

