/**
 * Vertical rhythm
 */
h1, h2, h3, h4, h5, h6, p, ul, ol, pre, img, hr, dl, table, div, section {
  @include container;
  @include vertical-rhythm;
  text-rendering: optimizeLegibility;
}

/**
 * Lists
 */
ul, ol {
  list-style-position: inside;
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin-top: .5rem;
  margin-bottom: .5rem;
  padding-left: 3rem;
}

li {
  margin-bottom: .5rem;
}

/**
 * Quotes
 */
blockquote {
  @include vertical-rhythm;
}

blockquote:after {
  clear: both;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  text-transform: capitalize;
  position: relative;
  text-rendering: optimizeLegibility;
  color: #333;
  line-height: 1.6;

  code {
    text-transform: initial;
  }
}

h1 {
//  margin-top: 3rem;
//  margin-bottom: 3rem;
  font-weight: 700;
}

h2 {
//  margin-top: 1.5rem;
//  margin-bottom: 1.5rem;
}

h3 {
//  margin-top: 1.25rem;
//  margin-bottom: 1.25rem;
  //  color: #808c99;
  //  text-transform: uppercase;
}

h4 {

}

h5 {

}

/**
 * Images
 */
img {
  max-width: 100%;
}

p + p {
  text-indent: 0em;
  margin-top: 0em;
}

/**
 * Meta information should have less emphasis
 */
.meta {
  //  opacity: 0.6;
  @include font-size(1.6);
  color: lighten($dark-grey, 40%);

  @include bp("large") {
    @include font-size(1.8);
  }
}

.section-title {
  display: inline-block;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    border-bottom: 1px solid #dedede;
    top: 55%;
    width: 400%;
  }
}

